{% extends 'base.html' %}

{% block content %}
<ul>
    {% if current_user.is_authenticated %}
    <li>
        <a class="button" href="/about">About</a>
    </li>
    <li>
        <a class="button" href="/logout">Logout</a>
    </li>
    {% else %}
    <li>
        <a class="button" href="/login">Google Login</a>
    </li>
    {% endif %}
    <li>
        <a class="button" href="/get_weather">Weather forecast</a>
    </li>
    <li>
        <a class="button" href="/useragent">Computer info</a>
    </li>
</ul>
{% endblock content %}